@media screen and (min-width: 1440px) {
  .about_us__section .about__photo__wrapp .about__photo_desc p {
    font-size: 1.4em;
  }

  ul.logo_menu_top {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .banner-section {
    .slogan-holder {
      img {
        max-width: 30vw;
      }
    }
  }

  .header-container nav ul.logo_menu .logo-li img {
    width: 150px;
  }

  .fixed-menu h4 {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .about_us__section .about__header__wrapper .about__header_title {
    font-size: 6em;
  }

  .about_us__section .about__header__wrapper .about__header_title.decoration--bar:after {
    right: 1em;
  }

  .about__photo_desc {
    font-size: 12px;
  }

  .header-container nav ul.logo_menu .logo-li img {
    width: 120px;
  }
}

@media screen and (max-width: 992px) {
  .parallax-section .parallax__bg .parallax__number--container li .parallax__number--subtitle {
    margin-top: 0;
  }

  .header-container nav ul.logo_menu .logo-li img {
    width: 200px;
  }

  .header-container nav ul.logo_menu {
    display: block;
  }

  ul.logo_menu_top {
    display: none;
  }

  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  .header-container {
    .hamburger {
      display: flex;
      margin: 30px;
      margin-left: auto;
    }
    nav {
      ul {
        display: none;
      }
      .logo_menu {
        display: block;
      }
      &.mobile-active {
        flex-flow: column;
        text-align: right;
        ul {
          display: block;
          li {
            width: 100%;
            margin-bottom: 20px;

            .no-animation {
              padding-right: 0;
            }
          }
        }
        .logo_menu {
          text-align: left;
        }
        .social-menu {
          display: flex;
          margin-top: 0;
          padding-top: 0;
          justify-content: flex-end;
          li {
            width: 50px;
          }
        }
      }
    }
  }

  .contact__modal {
    .mobile-contact-data {
      display: block;
      padding: 0 5% !important;
    }

    .form-data {
      padding: 0 5% !important;
      margin-top: 80px;
    }

    .desktop-contact-data {
      display: none;
    }

    .mobile-data-hide {
      display: none;
    }

    .row {
      flex-flow: column-reverse;
    }
  }

  .big-button {
    padding: 20px;
  }

  .banner-section {
    height: 500px;
    overflow: hidden;
    .slogan-holder {
      margin: 0;
      text-align: center;
    }
    .mobile-banner-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      .banner-more-button {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 30px;
      }
    }

    .slogan-holder {
      font-size: 10px;
      h1,
      h2 {
        color: white !important;
      }
    }

    .button-transparent {
      color: white;
    }
  }

  .parallax-section {
    height: 300px;
    .parallax__bg {
      .parallax__number--container {
        font-size: 10px;
      }
      .mobile-parallax-holder {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;
      }
      .parallax__number--container {
        justify-content: center;
        height: 130px;
        > li.flex {
          padding: 10px;
          width: 30%;
          text-align: center;
        }
      }
    }
  }

  .slide-show {
    .mobile-margin-right {
      margin-right: 10px;
    }
    .slider-window {
      width: 100%;
    }
    .slider-navigation {
      width: 100%;
    }
    .mobile-set-padding {
      padding: 10px 20px;
    }
  }

  .about_us__section {
    .about__header__wrapper {
      display: none;
    }
    .about__photo__wrapp {
      width: 100%;
    }
  }

  .tiles__section {
    .tiles__slogan {
      padding: 0 20px;
    }
  }

  .mosaic {
    .grid-container {
      .grid__row {
        width: calc(33% - 10px);
        &.mobile-display-none {
          display: none;
        }
      }
    }
  }

  .footer__section {
    .mobile-align-center {
      text-align: center;
    }
  }

  .slider-container .slider-window,
  .slider-container .slider-window .slider-area .slider-image img {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  div.row {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
  }
  body {
    overflow-x: hidden;
  }

  .fixed-menu {
    display: none;
  }

  .banner-section {
    height: auto;
  }
  .slide-show {
    .slider-navigation {
      max-width: 80%;
      margin: auto;
    }
  }

  .mosaic {
    .grid-container {
      .grid__row {
        width: calc(50% - 10px);
        &.xs-mobile-display-none {
          display: none;
        }
      }
    }
  }

  .parallax-section {
    .parallax__bg {
      .parallax__number--container {
        padding: 0;
      }
    }
  }

  .xs-set-space {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .about__photo_desc {
    font-size: 12px;
    width: 70%;
  }

  .big-button {
    padding: 15px;
  }
}

@media screen and (max-width: 650px) {
  .parallax-section .parallax__bg .parallax__number--container {
    font-size: 8px;
  }

  .header-container nav ul.logo_menu .logo-li img {
    width: 120px;
  }

  .tiles__section {
    .slide_viewer {
      .slide__tile {
        height: 430px !important;
        .slide_pattern {
          display: none !important;
        }
        .slide_readmore {
          transform: translate(-50%) !important;
        }
        .overlay {
          height: 100% !important;
        }
        &.hideLeft {
          left: 0%;
          transform: translateY(0) translateX(-50%);
        }
        &.hideRight {
          left: 100%;
          transform: translateY(0) translateX(-50%);
        }
        &.prev {
          left: 0%;
          transform: translateY(0) translateX(-80%) scale(1);
        }
        &.prevLeftSecond {
          left: -100%;
          transform: translateY(0) translateX(0%) scale(1);
        }
        &.selected {
          left: 50%;
          transform: translateY(0) translateX(-50%);
        }

        &.next {
          left: 100%;
          transform: translateY(0) translateX(-20%) scale(1);
        }

        &.nextRightSecond {
          left: 200%;
          transform: translateY(0) translateX(0%) scale(1);
        }
      }
    }
  }

  .about__photo_desc {
    font-size: 10px;
    width: 70%;
  }
  .big-button {
    padding: 15px;
  }

  .slogan-holder {
    font-size: 7px;
    padding: 0 !important;
    margin: auto !important;
    h1,
    h2 {
      color: white !important;
      font-size: 5em !important;
    }
  }

  .banner-section {
    > .row {
      overflow: hidden;
    }
  }

  .slider-container .slider-window,
  .slider-container .slider-window .slider-area .slider-image img {
    height: 500px;
  }
}

@media screen and (max-width: 450px) {
  .header-container nav ul.logo_menu .logo-li img {
    width: 150px;
  }

  .fixed-menu {
    width: auto;
    h4 {
      margin: 0;
    }
    nav {
      display: none;
    }
  }
  .mosaic {
    .grid-container {
      height: 100vw;
      .grid__row {
        width: calc(100%);
        &.iphone-display-none {
          display: none;
        }
        .smaller,
        .higher {
          height: 50%;
          margin-bottom: 15px;
        }
      }
    }
  }

  .about_us__section {
    overflow: hidden;
    .about__photo__wrapp .about__about__image {
      width: auto;
      height: 300px;
    }
  }

  .footer__section {
    .col-md-3 {
      padding: 0;
    }
  }
}

@media screen and (max-width: 350px) {
  .parallax-section .parallax__bg .parallax__number--container {
    font-size: 12px;
  }

  .about__photo_desc {
    width: 80%;
    p {
      text-transform: none;
      letter-spacing: 1px;
    }
  }

  .slide-show {
    .xs-set-space {
      margin: 0;
      button {
        display: block;
        margin: 0 auto 10px auto;
      }
    }
  }

  .banner-section {
    .slogan-holder {
      font-size: 7px;
    }
  }

  .parallax-section {
    height: 450px;
    .parallax__number--container {
      flex-flow: column;
      height: 90% !important;
      align-items: center;
      li.flex {
        width: 100% !important;
        &:after {
          display: none !important;
        }
        .parallax__number--title {
          font-size: 4em;
        }
      }
    }
  }
}
