@media screen and (min-width: 1440px) {
  .about_us__section .about__photo__wrapp .about__photo_desc p{
    font-size: 1.4em;
  }
}
  @media screen and (max-width: 1200px) {
  .about_us__section .about__header__wrapper .about__header_title{
    font-size: 6em;
  }

  .about_us__section .about__header__wrapper .about__header_title.decoration--bar:after{
    right: 1em;
  }

  .about__photo_desc{
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .big-button{
    padding: 20px;
  }

  .banner-section {
    height: 500px;
    overflow: hidden;
    .slogan-holder h2 span::before {
      content: "";
      height: 8px;
      width: 65px;
      top: -30px;
      left: -50px;
    }
    .slogan-holder .slogan-part-2::after {
      content: "";
    }
    .mobile-banner-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      .banner-more-button {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 30px;
      }
    }

    .slogan-holder {
      font-size: 10px;
        h1, h2{
          color: white !important;
        }
    }

    .button-transparent {
      color: white;
    }
  }

  .parallax-section {
    height: 300px;
    .parallax__bg {
      .parallax__number--container {
        font-size: 10px;
      }
      .mobile-parallax-holder {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;
      }
      .parallax__number--container {
        justify-content: center;
        height: 130px;
        > li.flex {
          padding: 10px;
          width: 30%;
          text-align: center;
        }
      }
    }
  }

  .slide-show {
    .mobile-margin-right {
      margin-right: 10px;
    }
    .slider-window {
      width: 100%;
    }
    .slider-navigation {
      width: 100%;
    }
    .mobile-set-padding {
      padding: 10px 20px;
    }
  }

  .about_us__section {
    .about__header__wrapper {
      display: none;
    }
    .about__photo__wrapp {
      width: 100%;
    }
  }

  .tiles__section {
    .tiles__slogan {
      padding: 0 20px;
    }
  }

  .mosaic {
    .grid-container {
      .grid__row {
        width: calc(33% - 10px);
        &.mobile-display-none {
          display: none;
        }
      }
    }
  }

  .footer__section {
    .mobile-align-center {
      text-align: center;
    }
  }

  .slider-container .slider-window, .slider-container .slider-window .slider-area .slider-image img {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .banner-section {
    height: auto;
  }  
  .slide-show {
    .slider-navigation {
      max-width: 80%;
      margin: auto;
    }
  }

  .mosaic {
    .grid-container {
      .grid__row {
        width: calc(50% - 10px);
        &.xs-mobile-display-none {
          display: none;
        }
      }
    }
  }

  .parallax-section {
    .parallax__bg {
      .parallax__number--container {
        padding: 0;
      }
    }
  }

  .xs-set-space{
    margin-top: 0;
    margin-bottom: 20px;
  }

  .about__photo_desc{
    font-size: 12px;
    width: 70%;
  }

  .big-button{
    padding: 15px;
  }  
}

@media screen and (max-width: 650px) {
  .about__photo_desc{
    font-size: 10px;
    width: 70%;
  }
  .big-button{
    padding: 15px;
  }

  .slogan-holder{ 
    font-size: 7px;
    padding: 0 !important;
    margin: auto !important;
    h1, h2{
      color: white !important;
      font-size: 5em !important;
    }
  }

  .banner-section .slogan-holder h2 span:before{
    display: none;
  }

  .slider-container .slider-window, .slider-container .slider-window .slider-area .slider-image img {
    height: 300px;
  }  
}

@media screen and (max-width: 450px) {
  .mosaic {
    .grid-container {
      height: 100vw;
      .grid__row {
        width: calc(100%);
        &.iphone-display-none {
          display: none;
        }
        .smaller, .higher{
          height: 50%;
          margin-bottom: 15px;
        }
      }
    }
  }  
}
