.button-white {
  background: $white;
  color: $text;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid $white;
  outline: none;
  @include sweep-to-right;
  @include lato;
  font-weight: bold;
}

.button-transparent {
  background: transparent;
  border: 1px solid $blue;
  color: $text;
  text-transform: uppercase;
  padding: 10px 15px;
  outline: none;
  @include sweep-to-right;
  @include lato;
  font-weight: bold;
}

.button-black {
  text-transform: uppercase;
  padding: 6px 18px;
  background: white;
  border: 1px solid black;
  color: black;
  outline: none;
  @include sweep-to-right(#000);
  @include lato;
}

.big-button {
  padding: 30px;
}
