@import "config";
@import "buttons";
@import "helper";

@import "module1/_index";
@import "module1/_about";
@import "module1/_experiance";
@import "module1/_references";
references_details body {
  margin: 0;
  padding: 0;
  @include lato;
  font-weight: 400;
  font-size: 14px;
}
